[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=image_ai_utils
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Image AI Utils
Comment=AI tools based on stable diffusion